/* CSS that applies to everything */
body {
  background-color: #B6ECF3;
  color: #0D4850;
  margin: 0;
  padding: 0;
  font-family: Georgia, serif;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  position: fixed;
  overflow-y: auto;
  height: 80%;
  width: 100%;
}

.fas {
  color: #0D4850;
}

.unselect {
  -webkit-filter: blur(2px);
          filter: blur(2px);
  pointer-events: none;
}

/* Main content */
#content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 60%;
}

#content h1 {
  font-size: 52px;
}

#content p {
  font-size: 20px;
}

#content a:link {
  color: #0D4850;
}

#content a:hover {
  text-decoration: none;
}

#projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#projects .panel {
  width: 200px;
  height: 200px;
  background-color: #0077ba;
  border: 1px solid black;
  -webkit-box-shadow: 1px 1px 5px black;
          box-shadow: 1px 1px 5px black;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

#projects .panel img {
  width: 100%;
  height: 80%;
  border-bottom: 1px solid black;
}

#projects .panel p {
  margin: 0;
  color: white;
  font-weight: 400;
}

#projects .panel:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#projects .panelText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20%;
}

/* Top menu and related items */
#menuIcon {
  position: absolute;
  top: 10px;
  right: 10px;
}

#menu {
  width: 100%;
  background-color: #0077ba;
  position: fixed;
  height: 0;
  overflow: hidden;
  z-index: 100;
  top: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#menu a {
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  font-size: 25px;
  color: white;
}

#menu a:hover {
  color: #f1f1f1;
  text-decoration: underline;
}

#menu #menuX {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
}

/* Expanded project information */
.expandedPanel {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 80%;
  height: 80%;
  overflow: hideen;
  background-color: rgba(209, 209, 209, 0.8);
  border: 1px solid black;
  -webkit-box-shadow: 1px 1px 10px #9A9A9A;
          box-shadow: 1px 1px 10px #9A9A9A;
}

.panelX {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  text-shadow: 1px 1px 5px black;
  z-index: 100;
}

.imageGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
}

.imageGallery img {
  height: 550px;
}

.imageGallery .carousel-control-next, .imageGallery .carousel-control-prev, .imageGallery .carousel-indicators {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.sideDesc {
  width: 20%;
  background-color: #0077ba;
  color: white;
  padding-top: 35px;
  padding-left: 5px;
  padding-right: 5px;
}

/* Contact form */
#contact p {
  text-align: left;
}

#contactForm {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.form-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 0px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.form-element label {
  width: 20%;
  font-weight: bold;
  font-size: 20px;
  text-align: left;
}

.form-element input, .form-element textarea {
  width: 75%;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  border: 2px solid #9A9A9A;
}

.form-element input:focus, .form-element textarea:focus {
  outline: none !important;
  -webkit-box-shadow: 1px 1px 10px #9A9A9A;
          box-shadow: 1px 1px 10px #9A9A9A;
  border: 2px solid black;
}

.form-element textarea {
  height: 100px;
}

.form-element input[type="email"] {
  background-image: url(../images/email.png);
  background-position: 5px 5px;
  background-repeat: no-repeat;
  background-size: 20px;
  padding-left: 30px;
}

.button {
  background-color: #0077ba;
  color: white;
  -webkit-box-shadow: 0 3px 5px #9A9A9A;
          box-shadow: 0 3px 5px #9A9A9A;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  font-size: 1.2em;
  padding: 0;
  border-radius: 8px;
  padding: 15px 25px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 8px #4d4d4d;
          box-shadow: 0 8px #4d4d4d;
  margin-top: 10px;
}

.button:active {
  -webkit-box-shadow: 0 4px #2b2b2b;
          box-shadow: 0 4px #2b2b2b;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.button:focus {
  outline: none;
}

/* Navigation arrows */
#contactArrow, #portfolioArrow {
  width: 100px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  position: relative;
}

#contactArrow span, #portfolioArrow span {
  position: absolute;
  display: none;
  color: #0D4850;
}

#contactArrow {
  left: 15px;
}

#contactArrow span {
  left: 50px;
}

#portfolioArrow {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  right: 15px;
}

#portfolioArrow span {
  right: 50px;
}

.empty {
  width: 100px;
}

/* Link styling for social media */
#socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 225px;
}

#socials > * {
  width: 75px;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  outline: 1px solid black;
}

#linkedin {
  background-color: #0a66c2;
}

#github {
  background-color: #171515;
}

#twitch {
  background-color: white;
}

.social {
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}

.cursor {
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .expandedPanel {
    width: 95%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    overflow-y: auto;
  }
  .imageGallery {
    width: 100%;
  }
  .sideDesc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    width: 100%;
  }
  .sideDesc #description {
    width: 90%;
  }
  .sideDesc div {
    width: 45%;
  }
  .sideDesc ul {
    list-style-type: none;
    padding-left: 0;
  }
  #socials {
    top: 10px;
    left: 0;
    bottom: auto;
    right: auto;
    width: 150px;
    height: 50px;
    z-index: 1;
  }
  #socials > * {
    width: 50px;
    height: 50px;
  }
  .social {
    width: 40px;
    height: 40px;
  }
  .form-element label, .form-element input, .form-element textarea {
    width: 100%;
  }
  .form-element label {
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
  }
  #content p {
    text-align: center;
  }
}

@media screen and (max-width: 750px) {
  main {
    height: 100%;
  }
  #projects {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #projects .panel {
    width: 300px;
    height: 300px;
    margin: 15px;
  }
}

@media screen and (max-width: 600px) {
  #menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  #menu a {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 20px;
  }
}

@media (min-width: 600px) {
  #socials > *:hover {
    height: 100px;
    margin-top: -25px;
    position: relative;
  }
}

@media screen and (max-width: 420px) {
  .sideDesc div {
    width: 100%;
  }
  main {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #content {
    margin-top: 70px;
    width: 100%;
    padding: 0px 20px;
  }
  #content h1 {
    font-size: 32px;
  }
  #content p {
    font-size: 16px;
    text-align: center;
  }
  #contactArrow, #portfolioArrow, .empty {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */